html {
	font-size: 22px;
	font-family: 'Cabin', sans-serif;
}

header h1{
	text-align: center;
	margin-top: 6rem;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 6rem;
	color: #f1c40f;
	font-weight:bold;
}

.bottom-strips {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.info {
	color: #fff;
}

.strip1{
	background-color: #8e44ad;
	padding: 1rem 0rem;
	text-align: center;
}

.strip2{
	background: #A2C9F6;
	padding: .5rem 0rem;
	text-align: center;
	cursor: pointer;
}

.strip2:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 0px;
	border: 25px transparent solid;
	border-top: 25px #A2C9F6 solid;
}

.strip3{
	background: #8e44ad;
	padding: 1rem;
}

nav {
	position: absolute;
	width: 100%;
	display: block;
	z-index: 1000;
}

nav ul {
	float: right;
	list-style-type: none;
	width: 100%;
	z-index: 1;
}

nav li {
	color: white;
	float: right;
	padding: 1rem 1rem;
	cursor: pointer;
}

li:hover {
	background-color: rgba(0,0,0,.5);
}

li a:link, a:visited {
	text-decoration: none;
	color: white;
}

.container{
	width: 100%;
}

#new_user {
	text-align: center;
}

#new_user input {
	position: relative;
	z-index: 1;
	font-size: 1rem;
	padding: .5rem;
	margin-bottom: .875rem;
	border: none;
	outline: none;
}

.button {
	width: 8rem;
	cursor: pointer;
}

.button:hover{
	background-color: darkgrey;
}


.form {
	display: block;
	height: 900px;
	width: 100%;
}

.form p {
	padding-bottom: 1rem;
}

div.name {
	color: white;
	position: relative;
	background-color: #2ecc71;
	padding-top: 50px;
}

div.zipcode{
	display: none;
	background-color: #01B0D1;
	padding-top: 50px;
}

div.email {
	display: none;
	background-color: #814968;
	padding-top: 50px;
}

div.password{
	display: none;
	background-color: #f1c40f;
}

#forecast{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 900;
	padding: 4rem 0rem;
}