html {
	font-size: 22px;
}

.container{
	width: 100%;
}

#new_user {
	text-align: center;
}

#new_user input {
	position: relative;
	z-index: 1;
	font-size: 1rem;
	padding: .5rem;
	margin-bottom: .875rem;
	border: none;
	outline: none;
}

.button {
	width: 8rem;
}

.button:hover{
	background-color: darkgrey;
}

h1 {
	position: relative;
	z-index: 1;
	text-align: center;
}

.form {
	font-family: 'Cabin', sans-serif;
	display: block;
	height: 900px;
	width: 100%;
}

.form p {
	padding-bottom: 1rem;
}

div.name {
	color: white;
	position: relative;
	background-color: #2ecc71;
	padding-top: 50px;
}

div.zipcode{
	display: none;
	background-color: #01B0D1;
	padding-top: 50px;
}

div.email {
	display: none;
	background-color: #814968;
	padding-top: 50px;
}

div.password{
	display: none;
	background-color: #f1c40f;
}